*{
  font-family:helvetica,verdana,monospace;

}



h1 {
  color:#7AC7C2;
}
p {
  color:#7AC7C2;
  font-style: italic;
}
body{
  background-image: url("http://www.artisoo.com/images/chinesepainting3/CNAG235383.jpg2);
}

#nombre{
  font-style: monospace;
}
